
:root {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sentence-container {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
}

.sentence {
    font-size: 20pt;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

button {
    font-size: 16pt;
    border-radius: 10px;
    border: none;
    height: 70px;
    width: 150px;
    background-color: lightgrey;
}

button:hover {
    background-color: darkgray;
}

button:active {
    background-color: gray;
}

button:disabled {
    background-color: aliceblue;
}

.progress-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding-top: 50px;
}

progress {
    width: 70vw;
}

.control-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    gap: 200px;
}

.control-buttons > button {
    height: 50px;
    font-size: 12pt;
}