__pycache__
scripts/dailydialog/formatted data
scripts/dailydialog/ijcnlp_dailydialog
scripts/dailydialog/embeddings
data/processed data no-deps
data/processed data no-deps clean
data/processed data
data/raw data
data/annotated data/dev-set.connlu
data/auto-annotated data/extracted-sentences.conllu.bz2
data/auto-annotated data/no duplicates.conllu.bz2
data/auto-annotated data/shuffled.conllu.bz2
data/auto-annotated data/sentiment.conllu.bz2
data/auto-annotated data/speech-acts.conllu.bz2
data/auto-annotated data/speech-acts-upsampled.conllu.bz2
venv/lib64
venv/pyvenv.cfg
venv/bin/python
venv/bin/python3
venv/bin/python3.10
data/train-set.conllu.bz2
data/all-data.conllu.bz2
data/for-testing
